body {
  font-family: 'Arial', sans-serif;
  background-color: #111; 
  margin: 0;
  padding: 0;
  color: #fff;
}

body header {
  background-color: #000; 
  color: #fff;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

body header p {
  margin: 0;
  font-size: 28px;
}

body footer {
  background-color: #000; 
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body footer p {
  margin: 0;
  font-size: 16px;
}